@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 20px;
}

.input-field {
  max-width: 500px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 65% 15%;
  padding: 0 0.4rem;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.btn {
  width: 150px;
  height: 49px;
  border: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}

.logo {
  height: 100px;
  width: auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 481px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .sign-in {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }

  .left-side {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border-sign {
    text-align: center;
  }

  .img-banner {
    height: 50vh;
    padding-top: 10%;
  }

  .img-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #first-image {
    width: 90%;
  }
}
@media only screen and (min-width: 482px) and (max-width: 640px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  .sign-in {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }

  .left-side {
  }

  .border-sign {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .sign-in-form {
    width: 60%;
  }

  .img-banner {
    padding-left: 10%;
  }

  #first-image {
    height: 50vh;
    width: auto;
  }
}

@media screen and (min-width: 641px) {
  .sign-in {
    display: inline-flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* padding: 50px; */
  }

  .left-side {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 20px 0 20px 0;
    border-radius: 15px;
    box-shadow: -5px -5px 30px 5px #e6eff5, 5px 5px 30px 5px #e6eff5;
  }

  .img-banner {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .img-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #first-image {
    width: 90%;
  }

  /* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  } */
  /* 
  .container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
    }

  .forms-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
  }

  .img-banner {
    position: relative;
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign-in {
    width: 50%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign-in-form {
    padding: 100px;
    text-align: center;
    width: 100%;
  }

  .border-sign {
    top: 0;
    height: 70vh;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: -5px -5px 30px 5px #e6eff5, 5px 5px 30px 5px #e6eff5;
  }

  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 20px;
  }

  .input-field {
    max-width: 500px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
  }

  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
  }

  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  .btn {
    width: 150px;
    height: 49px;
    border: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px;
    transition: 0.5s;
  }

  .btn:hover {
    background-color: #4d84e2;
  }

  .first-image {
    width: 100%;
    height: auto;
  }

  .logo {
    height: auto;
    width: 65px;
    margin-bottom: 30px;
  } */
}
